<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="helper">
            <h2><span jhiTranslate="helpcentApp.helper.detail.title">Helper</span> {{ helper.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="helpcentApp.helper.name">Name</span></dt>
                <dd>
                    <span>{{ helper.name }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.helper.paypalAccount">Paypal Account</span></dt>
                <dd>
                    <span>{{ helper.paypalAccount }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/helper', helper.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
