<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="helpcentApp.transaction.detail.title">Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="helpcentApp.transaction.date">Date</span></dt>
                <dd>
                    <span>{{ transaction.date }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.transaction.amount">Amount</span></dt>
                <dd>
                    <span>{{ transaction.amount }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.transaction.donatedAmount">Donated Amount</span></dt>
                <dd>
                    <span>{{ transaction.donatedAmount }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.transaction.success">Success</span></dt>
                <dd>
                    <span>{{ transaction.success }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.transaction.comments">Comments</span></dt>
                <dd>
                    <span>{{ transaction.comments }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
