<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-voucher-heading" jhiTranslate="helpcentApp.voucher.home.createOrEditLabel">Create or edit a Voucher</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.expirationDate" for="field_expirationDate">Expiration Date</label>
                    <div class="input-group">
                        <input id="field_expirationDate" type="text" class="form-control" name="expirationDate" ngbDatepicker #expirationDateDp="ngbDatepicker" formControlName="expirationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expirationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.used" for="field_used">Used</label>
                    <input type="checkbox" class="form-control" name="used" id="field_used"
                           formControlName="used"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.useDate" for="field_useDate">Use Date</label>
                    <div class="input-group">
                        <input id="field_useDate" type="text" class="form-control" name="useDate" ngbDatepicker #useDateDp="ngbDatepicker" formControlName="useDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="useDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.helper" for="field_helper">Helper</label>
                    <select class="form-control" id="field_helper" name="helper" formControlName="helper">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="helperOption.id === editForm.get('helper')!.value?.id ? editForm.get('helper')!.value : helperOption" *ngFor="let helperOption of helpers; trackBy: trackById">{{ helperOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="helpcentApp.voucher.helpee" for="field_helpee">Helpee</label>
                    <select class="form-control" id="field_helpee" name="helpee" formControlName="helpee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="helpeeOption.id === editForm.get('helpee')!.value?.id ? editForm.get('helpee')!.value : helpeeOption" *ngFor="let helpeeOption of helpees; trackBy: trackById">{{ helpeeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
