<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voucher">
            <h2><span jhiTranslate="helpcentApp.voucher.detail.title">Voucher</span> {{ voucher.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="helpcentApp.voucher.date">Date</span></dt>
                <dd>
                    <span>{{ voucher.date }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.voucher.expirationDate">Expiration Date</span></dt>
                <dd>
                    <span>{{ voucher.expirationDate }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.voucher.amount">Amount</span></dt>
                <dd>
                    <span>{{ voucher.amount }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.voucher.code">Code</span></dt>
                <dd>
                    <span>{{ voucher.code }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.voucher.used">Used</span></dt>
                <dd>
                    <span>{{ voucher.used }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.voucher.useDate">Use Date</span></dt>
                <dd>
                    <span>{{ voucher.useDate }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.voucher.helper">Helper</span></dt>
                <dd>
                    <div *ngIf="voucher.helper">
                        <a [routerLink]="['/helper', voucher.helper?.id, 'view']">{{ voucher.helper?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="helpcentApp.voucher.helpee">Helpee</span></dt>
                <dd>
                    <div *ngIf="voucher.helpee">
                        <a [routerLink]="['/helpee', voucher.helpee?.id, 'view']">{{ voucher.helpee?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/voucher', voucher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
