<div>
    <h2 id="page-heading">
        <span jhiTranslate="helpcentApp.voucher.home.title">Vouchers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-voucher" [routerLink]="['/voucher/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="helpcentApp.voucher.home.createLabel">
            Create a new Voucher
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vouchers?.length === 0">
        <span jhiTranslate="helpcentApp.voucher.home.notFound">No vouchers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vouchers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="helpcentApp.voucher.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="expirationDate"><span jhiTranslate="helpcentApp.voucher.expirationDate">Expiration Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="helpcentApp.voucher.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="helpcentApp.voucher.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="used"><span jhiTranslate="helpcentApp.voucher.used">Used</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="useDate"><span jhiTranslate="helpcentApp.voucher.useDate">Use Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="helper.name"><span jhiTranslate="helpcentApp.voucher.helper">Helper</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="helpee.name"><span jhiTranslate="helpcentApp.voucher.helpee">Helpee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voucher of vouchers ;trackBy: trackId">
                    <td><a [routerLink]="['/voucher', voucher.id, 'view']">{{ voucher.id }}</a></td>
                    <td>{{ voucher.date | date:'mediumDate' }}</td>
                    <td>{{ voucher.expirationDate | date:'mediumDate' }}</td>
                    <td>{{ voucher.amount }}</td>
                    <td>{{ voucher.code }}</td>
                    <td>{{ voucher.used }}</td>
                    <td>{{ voucher.useDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="voucher.helper">
                            <a [routerLink]="['/helper', voucher.helper?.id, 'view']" >{{ voucher.helper?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="voucher.helpee">
                            <a [routerLink]="['/helpee', voucher.helpee?.id, 'view']" >{{ voucher.helpee?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/voucher', voucher.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/voucher', voucher.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(voucher)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vouchers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
