<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="helpee">
            <h2><span jhiTranslate="helpcentApp.helpee.detail.title">Helpee</span> {{ helpee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="helpcentApp.helpee.name">Name</span></dt>
                <dd>
                    <span>{{ helpee.name }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.helpee.street">Street</span></dt>
                <dd>
                    <span>{{ helpee.street }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.helpee.streetNumber">Street Number</span></dt>
                <dd>
                    <span>{{ helpee.streetNumber }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.helpee.township">Township</span></dt>
                <dd>
                    <span>{{ helpee.township }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.helpee.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ helpee.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.helpee.country">Country</span></dt>
                <dd>
                    <span>{{ helpee.country }}</span>
                </dd>
                <dt><span jhiTranslate="helpcentApp.helpee.paypalAccount">Paypal Account</span></dt>
                <dd>
                    <span>{{ helpee.paypalAccount }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/helpee', helpee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
