<template>
  <div id="app">
    <div id="nav">
      <div class="logo" @click="$router.push('/')">
        <img alt="Logo" src="./assets/logo.png" />
        <div class="logo-text">HelpCent</div>
      </div>
      <div class="burger-menu">
        <small v-if="$store.state.user">{{ $store.state.user.email }}</small>
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  mounted() {
    const user = sessionStorage.getItem("user");

    if (!user) {
      this.$router.push("/login");
    } else {
      this.$store.commit("SET_USER", JSON.parse(user));
    }
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 0;
  overflow-x: hidden;
}

#nav {
  padding: 10px 20px;
  height: 50px;
  background: white;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;

  .burger-menu {
    float: right;
    font-size: 30px;
    margin-top: 7px;

    small {
      font-size: 12px !important;
      margin-right: 5px;
      top: -5px;
      position: relative;
    }
  }

  .logo {
    float: left;
    > div {
      display: inline-block;
    }

    .logo-text {
      position: relative;
      top: -10px;
      font-size: 26px;
      color: #d45a14;
      padding-left: 15px;
    }
  }

  img {
    max-height: 50px;
  }

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.content-limiter {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
