<template>
  <div v-if="doc" class="business-page">
    <div class="content-limiter">
      <a href="#/search">&lt; Back</a>
      <el-row class="business" :key="index" justify="space-around">
        <el-col style="float:left; width: 50px;">
          <div class="business-image" :style="`background-image:url(${doc.picture})`"></div>
        </el-col>
        <el-col class :span="18" style="padding-left:10px;">
          <p>
            {{ doc.name }}
            <img v-if="doc.isMember" src="/HelpCent-Symbol-green.png" />
          </p>
          <small>{{doc.address}}</small>
        </el-col>
        <el-col :span="2" style="text-align: right">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </el-col>
      </el-row>

      <hr />

      <h3>A note from the owner:</h3>
      <div v-html="doc.description"></div>

      <hr />

      <h3>How you can help:</h3>

      <p>
        <b>1. Buy a voucher</b> now which you can redeem with this business in the future
      </p>
      <el-button>Buy a voucher</el-button>

      <p>
        <b>2. Set up a tip jar</b> for this business with a payment method of your choice. When you make a purchase with that payment method we'll round up the total to the nearest Euro, and send the remaining cents (the tip) to this business
      </p>
      <el-button>Set up a Tip Jar</el-button>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  data() {
    return { doc: null };
  },
  mounted() {
    this.getBusinessById(this.$route.params.id);
  },
  methods: {
    async getBusinessById(id) {
      const db = firebase.firestore();
      const business = db.collection("business").doc(id);
      const doc = await business.get();

      this.doc = doc.data();

      console.log(this.doc);
    }
  }
};
</script>

<style lang="scss">
.business-page {
  a,
  a:link,
  a:visited {
    color: #f29400;
    text-decoration: none;
  }

  .business {
    padding: 5px;
    color: black;
    margin-top: 20px;
    background: white;

    img {
      width: 25px;
      vertical-align: bottom;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  .el-button {
    border-color: #f29400;
    background-color: #f29400;
    color: white;
    border-radius: 7px;
  }

  .business-image {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ededed;
}
</style>