<template>
  <div class="help-choice content-limiter">
    <div class="choice" @click="$router.push('/search')">
      <div class="choice-text center">Help your local small business</div>
      <div class="choice-bg" style="background-image: url(/bakery.jpeg)"></div>
    </div>
    <div class="choice">
      <div class="choice-text center">Help your local small business</div>
      <div class="choice-bg" style="background-image: url(/charity.jpg)"></div>
    </div>
  </div>
</template>

<style lang="scss">
.help-choice {
  .choice {
    height: 170px;
    margin: 0 auto 20px auto;
    position: relative;

    .choice-text {
      z-index: 10;
      color: white;
      font-size: 20px;
      width: 80%;
      max-width: 200px;
      text-align: center;
    }

    .choice-bg {
      height: 100%;
      width: 100%;
      filter: brightness(70%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
</style>
