<template>
  <div class="home">
    <div class="carousel">
      <div class="slide slide-1">
        <div class="text-1">Small change...</div>
        <div class="text-2">Big impact</div>
        <div class="text-3">
          Help your local businesses in their times of need
        </div>
        <div
          class="slide-bg"
          style="background-image:url(/flowershop.jpg)"
          alt="flowershop"
        ></div>
      </div>
      <div class="slide slide-2 hidden">
        <div class="text-1">Small change</div>
        <div class="text-2">Big impact</div>
        <div class="text-3">
          Help your local businesses in their times of need
        </div>
        <div
          class="slide-bg"
          style="background-image:url(/flowershop.jpg)"
          alt="charity"
        ></div>
      </div>
    </div>

    <div class="call-to-action ">
      <div class="content-limiter">
        <h3>How it works</h3>
        <p>
          Bring immediate revenue to a local small business by purchasing
          vouchers that you can redeem with them at a future date
        </p>

        <el-button @click="$router.push('/i-want-to-help')">
          I Want to Help
        </el-button>
        <el-button>I Need Help</el-button>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
};
</script>

<style lang="scss">
.carousel {
  .slide {
    position: relative;

    &.hidden {
      display: none;
    }

    .text-1,
    .text-2,
    .text-3 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      z-index: 10;
      text-align: left;
      width: 100%;
      max-width: 960px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .text-1 {
      top: 20px;
      font-size: 30px;
    }

    .text-2 {
      top: 50px;
      font-size: 50px;
    }

    .text-3 {
      bottom: 20px;
      font-size: 20px;
    }
  }
  .slide-bg {
    height: 350px;
    width: 100%;
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.call-to-action {
  background-color: #f29400;
  color: white;
  margin-top: 0;

  h3 {
    margin: 0;
    padding: 10px 0;
  }

  .el-button {
    width: 100%;
    margin: 10px 0 !important;
    color: #f29400;
    border: 0;
    font-size: 24px;
  }
}
</style>
