<template>
  <div class="login content-limiter">
    <el-row>
      <el-col :span="24">
        <el-input placeholder="Username" v-model="username"></el-input>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <el-input
          placeholder="Password"
          v-model="password"
          type="password"
        ></el-input>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <el-button type="primary" @click="login()">Login</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  data() {
    return {
      username: null,
      password: null,
    };
  },
  mounted() {},
  methods: {
    async login() {
      const auth = firebase.auth();
      const token = await auth.signInWithEmailAndPassword(
        this.username,
        this.password
      );
      const user = token.user.toJSON();
      const userString = JSON.stringify(user);

      sessionStorage.setItem("user", userString);
      this.$store.commit("SET_USER", user);

      this.$router.push("/");
    },
  },
};
</script>

<style lang="scss">
.login {
  .el-row {
    margin-bottom: 20px;
  }
}
</style>
