<template>
  <div class="search content-limiter">
    <el-row>
      <el-col :span="12">
        <el-input size="mini" placeholder="Search" v-model="input" clearable></el-input>
      </el-col>
      <el-col :span="12" style="text-align: right;">
        <el-button type="danger" align="right" @click="dialogVisible = true" size="mini">Filters</el-button>
      </el-col>
    </el-row>

    <el-row
      class="business"
      v-for="(row, index) in docs"
      :key="index"
      @click.native="$router.push('/business/' + row.id)"
      justify="space-around"
    >
      <el-col style="float:left; width: 50px;">
        <div class="business-image" :style="`background-image:url(${row.picture})`"></div>
      </el-col>
      <el-col class :span="18" style="padding-left:10px;">
        <p>
          {{ row.name }}
          <img v-if="row.isMember" src="/HelpCent-Symbol-green.png" />
        </p>
        <small>0.5km away</small>
      </el-col>
      <el-col :span="2" style="text-align: right">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </el-col>
    </el-row>

    <el-dialog title="Filters" type="danger" :visible.sync="dialogVisible" fullscreen>
      <div class="content-limiter">
        <h4>Business types:</h4>
        <el-row>
          <el-col :span="12" v-for="item in types" :key="item">
            <el-radio v-model="type" :label="item">{{ item }}</el-radio>
          </el-col>
        </el-row>

        <hr />
        <h4>Proximity:</h4>
        <el-row>
          <el-col :span="12" v-for="item in proximities" :key="item">
            <el-radio v-model="proximity" :label="item">{{ item }}</el-radio>
          </el-col>
        </el-row>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  data() {
    return {
      dialogVisible: false,
      docs: [],
      input: "",
      type: "Restaurants",
      types: [
        "Show all types",
        "Restaurants",
        "Museums",
        "Bakeries",
        "Barber shops",
        "Other"
      ],
      proximity: "Walking (2km)",
      proximities: [
        "Within 4 blocks",
        "Walking (2km)",
        "Driving (8km)",
        "Biking (4km)",
        "Any distance"
      ]
    };
  },
  async mounted() {
    this.getBusinesses();
  },
  methods: {
    async getBusinesses() {
      const db = firebase.firestore();
      const business = db.collection("business");
      const docs = await business.get();

      docs.forEach(d =>
        this.docs.push({
          id: d.id,
          ...d.data()
        })
      );
    }
  }
};
</script>

<style lang="scss">
.search {
  background: #f29400;
  height: 100vh;

  .el-dialog__header {
    text-align: center;
    text-transform: uppercase;
  }

  .el-dialog__body {
    padding: 0;
    color: #333;

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid #ededed;
    }

    .el-radio__input {
      line-height: 30px;
    }

    .el-radio__input + .el-radio__label,
    .el-radio__input.is-checked + .el-radio__label {
      color: #333;
      font-size: 1.2em;
    }

    .el-radio__input.is-checked .el-radio__inner {
      border-color: #f29400;
      background: #f29400;
    }
    .el-radio__inner::after {
      display: none;
    }
  }

  input {
    border: none;
  }

  .el-button {
    background-color: #8a0000;
    border-color: #8a0000;
  }

  .business {
    padding: 5px;
    color: black;
    margin-top: 20px;
    background: white;

    img {
      width: 25px;
      vertical-align: bottom;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  .business-image {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
</style>
